.results_list_container{
    background-color:black;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:auto;
    padding:10px;
}
.list_container{
    background-color:black;
    height:100vh;
    padding:15px;
}
.main_heading{
    color:yellow;
}
.list_container{
    width:80%;
}
